In [33]:
a=22
print('{} is my age'.format(a))

22 is my age

In [23]:
import random as r
begin=0
a=int(input('Enter the amount digvijay wants?'))
while begin<=a:
  c=r.randint(1,15000)
  print('Your  collection is',c)
  begin=begin+c
  print(begin)
else:
  print('Digvijay you need to start again')

Enter the amount digvijay wants?200000
Your  collection is 1800
1800
Your  collection is 3098
4898
Your  collection is 1631
6529
Your  collection is 14717
21246
Your  collection is 10978
32224
Your  collection is 12877
45101
Your  collection is 2511
47612
Your  collection is 12787
60399
Your  collection is 5933
66332
Your  collection is 14252
80584
Your  collection is 1312
81896
Your  collection is 13268
95164
Your  collection is 11032
106196
Your  collection is 3325
109521
Your  collection is 4414
113935
Your  collection is 14438
128373
Your  collection is 12698
141071
Your  collection is 5442
146513
Your  collection is 334
146847
Your  collection is 6567
153414
Your  collection is 12033
165447
Your  collection is 7402
172849
Your  collection is 9101
181950
Your  collection is 10418
192368
Your  collection is 13377
205745
Digvijay you need to start again

In [29]:
a = 100000
b = a * 20 // 100  # 20% of salary
while True:
    if a >= 200000:
        print('Congratulations! You have saved 2 lakh rupees.')
        print('We will offer you a trip to Dubai!')
        break
    else:
        print('Current savings:', a)
        print('You saved 20% of your salary =', b)
        a =a+ b
        print('New salary after savings:', a)

Current savings: 100000
You saved 20% of your salary = 20000
New salary after savings: 120000
Current savings: 120000
You saved 20% of your salary = 20000
New salary after savings: 140000
Current savings: 140000
You saved 20% of your salary = 20000
New salary after savings: 160000
Current savings: 160000
You saved 20% of your salary = 20000
New salary after savings: 180000
Current savings: 180000
You saved 20% of your salary = 20000
New salary after savings: 200000
Congratulations! You have saved 2 lakh rupees.
We will offer you a trip to Dubai!

In [53]:
def test(a,b):
  for i in range(9):
    b+=1
    c=a*b
    d='*'
    e='='
    return(a,d,b,e,c)
s=int(input('Enter a no'))
d=int(input('Enter a no'))
ss=test(s,d)
print(ss)

SyntaxError: 'return' outside function (<ipython-input-53-1b4a6517923d>, line 7)

In [62]:
def rah_we(**sd):
  for key,value in sd.items():
    print(key,value)
  #a=gg[0]
  #b=gg[1]
  #c=gg[2]
ff=rah_we(age='1',name='rahul')

age 1
name rahul

In [65]:
def lst(n):
  if n==0 or n==1:
    return 1
  else:
    return n * lst(n-2)
print(lst(5))

15

In [74]:
a=10
def lst():
   global a
   print(a)
lst()

10

In [79]:
ff=lambda x:x+50
print(ff(23))

73

In [87]:
try:
  a=int(input('Enter a no'))
  print(a)
except ValueError:
  print('Error is there')
else:
  print('Cant run this')
finally:
  print('chal gya bhai')

Enter a no1
1
Cant run this
chal gya bhai

In [17]:
'USER DEFINED FUNCTION'
def a(d,e,s):
  r=d+e-s
  return r
ff=a(2,3,1)
print(ff)

def func(*multiple):
  r,a,p=multiple
  f=r+a-p
  return f
ds=func(4,5,5)
print(ds)

def gg(**kwargs):
  for key,value in kwargs.items():
    print(key,value)
gg(name='Bali')

4
4
name Bali

In [19]:
a=10
def my_fun():
  global a
  print(a)
  a=5
  print(a)
my_fun()

10
5

In [30]:
def my_app():
  print('''         Available Items:
  Items                           Cost
  1)Paneer                        74/-
  2)Ketchup                       87/-
  3)Coke                          100/-''')
  fd={'Paneer':74,'Ketchup':87,'Coke':100}
  ss=str(input('Enter the product name'))
  dd=int(input('Enter the quantity [1/2/3/4]'))
  if ss in fd:
    total_price=fd[ss] *dd
    print('Price of',ss,'=',total_price,'for',dd,'quantity')
  else:
    print('Select appropriately')
my_app()

         Available Items:
  Items                           Cost
  1)Paneer                        74/-
  2)Ketchup                       87/-
  3)Coke                          100/-
Enter the product namePaneer
Enter the quantity [1/2/3/4]3
Price of Paneer = 222 for 3 quantity

In [32]:
dataset = [1, 2, 3, 4, 5]  # Example dataset
transformed_dataset = list(map(lambda x:x*2, dataset))
print(transformed_dataset)

[2, 4, 6, 8, 10]

In [36]:
def user():
  dd=['yatharth','amit','sahil']
  a=str(input('Enter the user name'))
  if a in dd:
    if a==dd[0]:
      b=int(input('Enter paaword'))
      if b==1234:
        print('Login Succesful')
      else:
        print('Wrong Password')
    if a==dd[1]:
      b=int(input('Enter paaword'))
      if b==234:
        print('Login Succesful')
      else:
        print('Wrong Password')
    if a==dd[2]:
      b=int(input('Enter paaword'))
      if b==34:
        print('Login Succesful')
      else:
        print('Wrong Password')
    else:
      print('You are not a user in our company')
user()

Enter the user namesahil
Enter paaword34
Login Succesful

In [46]:
player_health=100
player_score=0
player_level=1
def mat():
  while True:
      s=int(input('How much points player score'))
      global player_health, player_score, player_level
      if s>1:
        player_score=player_score+1
        player_level=player_level+1
        player_health=player_health-1
        print('Stats of player are as follows: Heath',player_health,'Level',player_level,'Score',player_score)
        b=str(input('You want to enter more[Y/N]'))
        if b=='N':
          break
      else:
        print('Player didnt play well')
mat()

How much points player score23
Stats of player are as follows: Heath 99 Level 2 Score 1
You want to enter more[Y/N]Y
How much points player score32
Stats of player are as follows: Heath 98 Level 3 Score 2
You want to enter more[Y/N]N

In [48]:
def calculator():
  a=int(input('Enter a no'))
  b=int(input('Enter a no'))
  c=str(input('Enter the operator[+,-,*,//]'))
  if c=='+':
    print(a+b)
  elif c=='-':
    print(a-b)
  elif c=='*':
    print(a*b)
  elif c=='//':
    print(a//b)
  else:
    print('Invalid operator')
calculator()

Enter a no23
Enter a no2
Enter the operator[+,-,*,//]//
11

In [54]:
#LAMBDA FUNCTION
a=lambda x,y:x+y
print(a(2,3))

#map
s=[1,2,3,4,5]
ss=list(map(lambda x:x*2,s))
print(ss)

#filter
g=[1,2,3,4,5]
gg=list(filter(lambda x:x%2==0,s))
print(gg)

#sorted
w=[1,2,3,4,5]
ww=sorted(s,reverse=True)
print(ww)

5
[2, 4, 6, 8, 10]
[2, 4]
[5, 4, 3, 2, 1]

In [62]:

def user(**kwargs):
  a=input('Enter a name')
  b=input('Enter a password')
  if (a,b) in kwargs.items():
    print('Login Succesful')
  else:
    print('Login Failed')
ff={'Yatharth':'passwd1','Sumit':'passwd2','goblin':'passwd3'}
user(**ff)

Enter a nameYatharth
Enter a passwordpasswd1
Login Succesful