In [ ]:
print('DICT-SET-PRACTICAL')

DICT-SET-PRACTICAL

In [ ]:
a={'name':'yatharth','age':22,'time':5.55}
n={'class':'bia','teacher':'karan'}
a['time']=5.56#normal update/ADD
a.update(n)#update
a.pop('age')#pop
a.popitem()#popitem
c=['age','teacher']
if _ in c:#membership
    del a['name']#del
    print(a)
b=a.keys()
print(b)
d=a.values()
print(d)
e=a.items()
print(e)
s=sorted(a.items())#SORT
print(s)
e={'Alice':{'Name':'Alice','Age':22,'Profession':'Doctor'}}
for key in e.keys():
  for i in key:
    print(i)
    # print(key)

dict_keys(['name', 'time', 'class'])
dict_values(['yatharth', 5.56, 'bia'])
dict_items([('name', 'yatharth'), ('time', 5.56), ('class', 'bia')])
[('class', 'bia'), ('name', 'yatharth'), ('time', 5.56)]
A
l
i
c
e

In [ ]:
student_info = {'name': 'Alice', 'age': 22, 'grade': 'A'}  # Example Dictionary
del student_info['grade']  # Removes the 'grade' key and its associated value
print(student_info)  # Output: {'name': 'Alice', 'age': 22}

to_del = ['name', 'age']

for _ in to_del:
  if _ in student_info:
    del student_info[_]
    #student_info.pop(_)

{'name': 'Alice', 'age': 22}

In [ ]:
e={'name':{'name1':'adi','name2':'prakash'},'age':{'age1':22,'age2':23}}
for key in e.values():
  for i in key.values():
    print(i)

adi
prakash
22
23

In [ ]:
a={11,32,44,55}
print(a)

{32, 11, 44, 55}

In [ ]:
a={33,56,98,2,43}
print(a)

{33, 98, 2, 56, 43}

In [ ]:
gh={'Joy':{'Name':'Alice','Age':22,'Profession':'Doctor'}}
for i,j in gh.items():
  for s in j.values():
      print(s)
  # for a in key:
    # print(i)

Alice
22
Doctor

In [ ]:
'''DICT COMPREHENSION'''
a={i:i**2 for i in range(1,11)}
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
'''SET OPERATIONS'''
set_test={1,6,2,3,5,4}
print(set_test)

{1, 2, 3, 4, 5, 6}

In [ ]:
ad={2,4,5,3}
print(ad)

{2, 3, 4, 5}

In [ ]:
s={2,17,8,6,9,7,3,5}
print(s)

{2, 3, 5, 6, 7, 8, 9, 17}

In [ ]:
ss={1,16,2,5,6,9,8,3}
print(ss)
dd={1,23,44,6,9,2.1}
print(dd)
ff={1,33,2,55,3,4}
print(ff)

{1, 2, 3, 5, 6, 8, 9, 16}
{1, 2.1, 6, 23, 9, 44}
{1, 2, 3, 4, 33, 55}

In [ ]:
test1={1,54,2,56,3,54,4}
print(test1)
test2={1,54,3,56,5,67,7}
print(test2)
test3={1,74,3,76,5,77,7}
print(test3)
test4={1,54,43,37,2,35}
print(test4)
test5={1,24,43,37,2,35}
print(test5)

{1, 2, 3, 4, 54, 56}
{1, 67, 3, 5, 54, 7, 56}
{1, 3, 5, 7, 74, 76, 77}
{1, 2, 35, 37, 54, 43}
{1, 2, 35, 37, 24, 43}

In [ ]:
test5={1,24,43,37,2,35}
test5=sorted(test5)
print(test5)

[1, 2, 24, 35, 37, 43]

In [ ]:
'''FUNCTION ON SETS'''
sw={1,2,3,44,556}
ss={23,43,21}
sw.update(ss)
print(sw)
sw.remove(2)
print(sw)
sw.pop()
print(sw)
sw.remove(3)
print(sw)
print(ss in sw)
print(sw | ss)
print(sw & ss)
print(sw - ss)
print(sw ^ ss)

{1, 2, 3, 21, 23, 43, 44, 556}
{1, 3, 21, 23, 43, 44, 556}
{3, 21, 23, 43, 44, 556}
{21, 23, 43, 44, 556}
False
{21, 23, 43, 44, 556}
{43, 21, 23}
{44, 556}
{44, 556}

In [ ]:
lp={1,2,3,4,5}
lp.pop()
print(lp)
dp={1,2,3,4,5}
dp.pop()
print(dp)
sww={1,2,2,54}
print(lp ^ sww)

{2, 3, 4, 5}
{2, 3, 4, 5}
{1, 3, 4, 5, 54}

In [ ]:
sd={1,2,3,44,5}
ds={2,34,54,4,44}
print(sd ^ ds)

{1, 34, 4, 3, 54, 5}

In [ ]:
'''HANDS ON DICTIONARY'''

'HANDS ON DICTIONARY'

In [10]:
#Q1-YATHARTH
job={'yatharth':15000,'kartik':54000,'digvijay':40000,'dev':2500}
s=[]
for i,j in job.items():
  max_salary=max(job.values())
  if j==max_salary:
      print('maximum salary is',max_salary,'of',i,'employee')

average_salary=sum(job.values())/len(job)
print('average salary is',average_salary)
sort_name=sorted(job.keys())
print('sorted name are',sort_name)
for i,j in job.items():
  if j>5000:#5000 is threshold salary here
     s.append(i)
print('salary is greater than 5000 ie threshold, names are:',s)

maximum salary is 54000 of kartik employee
average salary is 27875.0
sorted name are ['dev', 'digvijay', 'kartik', 'yatharth']
salary is greater than 5000 ie threshold, names are: ['yatharth', 'kartik', 'digvijay']

In [32]:
#Q3-Yatharth
rate=[]
names={'hoshiyar','kartik','digvijay','dev'}
ratings={2,4,6,9}
s=dict(zip(names,ratings))
s.update({'yatharth':10})
print(s)
for i,j in s.items():
  max_rating=max(s.values())
  if j==max_rating:
      print('maximum rating is',max_rating,'of',i,'student')
average_rating=sum(s.values())/len(s)
print('average rating is',average_rating)
sort_name=sorted(s.keys())
print('sorted name are',sort_name,'ratings',sorted(s.values()))
for i,j in s.items():
  if j>8:#threshold rating
    rate.append(i)
print('rating greater than 8, names are:',rate)

{'kartik': 9, 'dev': 2, 'digvijay': 4, 'hoshiyar': 6, 'yatharth': 10}
maximum rating is 10 of yatharth student
average rating is 6.2
sorted name are ['dev', 'digvijay', 'hoshiyar', 'kartik', 'yatharth'] ratings [2, 4, 6, 9, 10]
rating greater than 8, names are: ['kartik', 'yatharth']

In [52]:
#Question4-yatharth
bonus=0.1
data={'yatharth':{15000:5},'kartik':{54000:7},'digvijay':{40000:9},'dev':{2500:2}}
for i,j in data.items():
  for k,l in j.items():
    if l>5:#ranking
     new_salary=k+int(k*bonus)
     data[i]={new_salary:l}
print(data)
sort_names=sorted(data.keys())
salaries = [list(sorted(j.keys()))[0] for j in data.values()]
print('sorted name are',sort_names,'salary',salaries)

{'yatharth': {15000: 5}, 'kartik': {59400: 7}, 'digvijay': {44000: 9}, 'dev': {2500: 2}}
sorted name are ['dev', 'digvijay', 'kartik', 'yatharth'] salary [15000, 59400, 44000, 2500]

In [56]:
#SET QUESTIONS
#Question1-Yat
cs_students = {"Alice", "Bob", "Charlie"}
math_students = {"David", "Eva", "Charlie"}
cs_students.update(math_students)
print("Updated set with Math students:", cs_students)
cs_students_copy = cs_students.copy()
print("Copied set:", cs_students_copy)
cs_students.add("Fay")
print("Added new student:", cs_students)
cs_students.remove("Charlie")
print("Removed student:", cs_students)
cs_students.discard("Alice")
print("Discarded student:", cs_students)
cs_students.clear()
print("Cleared all students:", cs_students)

Updated set with Math students: {'David', 'Alice', 'Eva', 'Charlie', 'Bob'}
Copied set: {'David', 'Alice', 'Eva', 'Charlie', 'Bob'}
Added new student: {'Fay', 'David', 'Alice', 'Eva', 'Charlie', 'Bob'}
Removed student: {'Fay', 'David', 'Alice', 'Eva', 'Bob'}
Discarded student: {'Fay', 'David', 'Eva', 'Bob'}
Cleared all students: set()

In [58]:
#Question2-yat
students_activities = {"Alice", "Bob", "Charlie", "Diana"}
robotics_club = {"Eve", "Frank"}
students_activities.update(robotics_club)
print("After adding Robotics Club members:", students_activities)
chess_club_leavers = {"Alice", "Gina"}
for student in chess_club_leavers:
    students_activities.discard(student)
print("After removing Chess Club leavers:", students_activities)
students_activities_copy = students_activities.copy()
print("Copy of students involved in activities:", students_activities_copy)
students_activities.pop()
print("Students after popping one:", students_activities)
students_activities.clear()
print("All students cleared:", students_activities)

After adding Robotics Club members: {'Frank', 'Alice', 'Eve', 'Diana', 'Charlie', 'Bob'}
After removing Chess Club leavers: {'Frank', 'Eve', 'Diana', 'Charlie', 'Bob'}
Copy of students involved in activities: {'Frank', 'Eve', 'Diana', 'Charlie', 'Bob'}
Students after popping one: {'Eve', 'Diana', 'Charlie', 'Bob'}
All students cleared: set()

In [59]:
#Question3-yat
CS_students = {"Alice", "Bob", "Charlie", "David"}
Activity_students = {"Bob", "Charlie", "Eve", "Frank"}
CS_and_Activity_students = CS_students.intersection(Activity_students)
Only_CS_students = CS_students - CS_and_Activity_students
Only_Activity_students = Activity_students - CS_and_Activity_students
print("Students in both CS and Activities:", CS_and_Activity_students)
print("Students only in CS:", Only_CS_students)
print("Students only in Activities:", Only_Activity_students)

Students in both CS and Activities: {'Charlie', 'Bob'}
Students only in CS: {'David', 'Alice'}
Students only in Activities: {'Eve', 'Frank'}

In [60]:
#Question4-yat
computer_science_students = {"digvijay", "yat", "Charlie", "David", "Eve"}
prerequisite_students = {"Bob", "Charlie", "Eve", "Frank", "Grace"}
common_students = computer_science_students.intersection(prerequisite_students)
print("Students in both Computer Science course and prerequisite course:", common_students)
only_prerequisite_students = prerequisite_students.difference(computer_science_students)
print("Students only in the prerequisite course:", only_prerequisite_students)

Students in both Computer Science course and prerequisite course: {'Eve', 'Charlie'}
Students only in the prerequisite course: {'Frank', 'Grace', 'Bob'}

In [68]:
library_catalog = {
    101: {"title": "Python Crash Course", "author": "Eric Matthes"},
    102: {"title": "Clean Code", "author": "Robert C. Martin"},
    103: {"title": "The Pragmatic Programmer", "author": "Andrew Hunt, David Thomas"},
    104: {"title": "Design Patterns", "author": "Erich Gamma, Richard Helm, Ralph Johnson, John Vlissides"}
}
# for i,j in library_catalog.items():
    # print('Book ID:',i,'Title:',{j['title']}, 'Author:', {j['author']})
def check_book_in_catalog(i):
    if i in library_catalog:
      print('Book ID',i,'is in the catalog')
      print('Title',{library_catalog[i]['title']},'Author',{library_catalog[i]['author']})
    else:
      print('Book ID',i,'is not in the catalog')
check_book_in_catalog(102)
def add_book(i, title, author):
    library_catalog[i] = {"title": title, "author": author}
    print('Book added to catalog with Book ID:',i)
add_book(105, "The Art of Computer Programming", "Donald Knuth")
def remove_book_from_catalog(i):
    if i in library_catalog:
        del library_catalog[i]
        print('Book Id',i,'removed')
    else:
        print('Book Id',i,'not removed')
remove_book_from_catalog(103)
def update_book_details(book_id, title=None, author=None):
    if book_id in library_catalog:
        if title:
            library_catalog[book_id]['title'] = title
        if author:
            library_catalog[book_id]['author'] = author
        print(f"Details updated for Book ID {book_id}.")
        print(f"Updated Title: {library_catalog[book_id]['title']}, Author: {library_catalog[book_id]['author']}")
    else:
        print(f"Book ID {book_id} not found in catalog.")
update_book_details(101, title="Python Programming for Beginners")

Book ID 102 is in the catalog
Title {'Clean Code'} Author {'Robert C. Martin'}
Book added to catalog with Book ID: 105
Book Id 103 removed
Details updated for Book ID 101.
Updated Title: Python Programming for Beginners, Author: Eric Matthes