In [23]:
a=[1,2,3]
b=[3,4,5]
a.append(b)
print(a)
b=a.copy()
print(b)

[1, 2, 3, [3, 4, 5]]
[1, 2, 3, [3, 4, 5]]

In [20]:
a=[1,2,3]
b=[3,4,5]
a.extend(b)
print(a)
a.pop()
print(a)
a.remove(1)
print(a)
del a[2]
print(a)
a.reverse()
print(a)
a.sort(reverse=True)
print(a)
a.sort(reverse=False)
print(a)

[1, 2, 3, 3, 4, 5]
[1, 2, 3, 3, 4]
[2, 3, 3, 4]
[2, 3, 4]
[4, 3, 2]
[4, 3, 2]
[2, 3, 4]

In [33]:
a=[1,'qwerty',4.32,True,(9,3,4,5)]
print(a[0:5:2])
print(a[-1:-6:-2])

[1, 4.32, (9, 3, 4, 5)]
[(9, 3, 4, 5), 4.32, 1]

In [38]:
a=[[[1,2,3],[4,5,6],[7,8,9]]]
len(a)
print(a)
for i in a:
  for j in i:
    for k in j:
      print('i',i)
      print('j',j)
      print('k',k)

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]]]
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [1, 2, 3]
k 1
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [1, 2, 3]
k 2
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [1, 2, 3]
k 3
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [4, 5, 6]
k 4
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [4, 5, 6]
k 5
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [4, 5, 6]
k 6
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [7, 8, 9]
k 7
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [7, 8, 9]
k 8
i [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
j [7, 8, 9]
k 9

In [1]:
'''BUILT IN FUNCTIONS OF LIST'''
a=[1,2,3]
b=[4,5,6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [2]:
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [3]:
a=[1,2,3]
b=[4,5,6]
a.insert(2,'qwerty')
print(a)

[1, 2, 'qwerty', 3]

In [6]:
a=[1,2,3]
b=[4,5,6]
a.remove(3)
print(a)

[1, 2]

In [7]:
a=[1,2,3]
b=[4,5,6]
a.pop(2)
print(a)

[1, 2]

In [8]:
a=[1,2,3]
b=[4,5,6]
del a[1]
print(a)

[1, 3]

In [11]:
a=[1,2,3]
b=[4,5,6]
c=4 in b
print(c)

True

In [12]:
a=[1,2,3]
b=[4,5,6]
print(len(a))

3

In [14]:
a=[1,2,3]
b=[4,5,6]
a.reverse()
print(a)

[3, 2, 1]

In [18]:
a=[1,2,3]
b=[4,5,6]
a.sort(reverse=True)
print(a)
a.sort(reverse=False)
print(a)

[3, 2, 1]
[1, 2, 3]

In [21]:
a=[1,2,3]
b=[4,5,6]
print(b.count(4))

1

In [24]:
a=[1,2,3]
b=[4,5,6]
b=a.copy()
print(b)

[1, 2, 3]

In [25]:
'''CRUD RULE'''
a=[]
b=[1,2,3,4]
a.extend(b)
a.insert(2,5)
a.pop(3)
a.remove(1)
print(a)

[2, 5, 4]

In [33]:
a=[1,2,3,4,5,6,7,8,9,0]
b=a[2:9:2]
print(b)
c=a[-1:-8:-1]
print(c)

[3, 5, 7, 9]
[0, 9, 8, 7, 6, 5, 4]

In [41]:
a=[[1,2,3],[4,5,6],[7,8,9]]
a[1][1]

5

In [50]:
'''LIST COMPREHENSION'''
a=[1,2,3,4,5]
b=[a**2 if a%2==0 else a**3 for a in range(5)]
print(b)

[0, 1, 4, 27, 16]

In [51]:
'''TUPLES'''
a=1,2,3
x,y,z=a
print(x)
print(y)
print(z)

1
2
3

In [55]:
a=(1,2,3)
b=(4,5,6)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [56]:
a=(1,2,3)
b=(4,5,6)
c=a*2
print(c)

(1, 2, 3, 1, 2, 3)

In [57]:
a=(1,2,3)
b=(4,5,6)
c=a+b
print(len(c))

6

In [58]:
a=(1,2,3)
b=(4,5,6)
c=a+b
print(4 in c)

True

In [66]:
#HOMEWORK LIST MANIPULATION:
#QUESTION1:
student_name=['vineet','divakar','meena']
student_marks=[85,68,94]
print('Average Marks of class=',sum(student_marks)/len(student_marks))
c=student_name.sort()
print(student_name)
for i in student_marks:
  if i>90:
    print("Highest Marks")
  elif i>80:
    print("This Student has passed the threshold=",student_name[student_marks.index(i)])
  else:
    print("Not the highest marks")

Average Marks of class= 82.33333333333333
['divakar', 'meena', 'vineet']
This Student has passed the threshold= divakar
Not the highest marks
Highest Marks

In [69]:
#Question2:
a=[1,2,3,4,5,6,7,8,9,10]
b=[a**2 for a in a]
print(b)
c=[a**3 for a in a]
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [72]:
#Question3:
a=[1,2,3,4,5,6,7,8,9,10]
b=[print('positive number') if x>0 else print('no is zero') if x==0 else print('Negative number') for x in a]
# print(b)

positive number
positive number
positive number
positive number
positive number
positive number
positive number
positive number
positive number
positive number

In [78]:
#Question4:
students = []
while True:
    student_name = input('Enter Student Name: ')
    students.append(student_name)
    more_students = input('Do you want to add more students? [Y/N]: ')
    if more_students.upper() != 'Y':
        break
students.sort()
print(students)

Enter Student Name: nik
Do you want to add more students? [Y/N]: y
Enter Student Name: yat
Do you want to add more students? [Y/N]: y
Enter Student Name: ish
Do you want to add more students? [Y/N]: n
['ish', 'nik', 'yat']

In [81]:
'''HOMEWORK-TUPLE MANIPULATION'''
#Questions1:

a=str(input('Enter Name of student'))
b=str(input('Enter Marks of student'))
course_name=str(input('Enter Course Name'))
c=tuple([a,b,course_name])
print(c)

Enter Name of studentnik
Enter Marks of student43
Enter Course Namegg
('nik', '43', 'gg')

In [94]:
#Question2:
student_name=('nik','dev','saroson')
student_age = (23, 22, 21)
student_grades = ('A', 'B', 'F')
student_name_list = list(student_name)

# Check if the string '4' is in the student name, not the integer 4
C = [print('Age is',student_age[i]) if student_age[i]>=22 else len(student_name) for i in range(len(student_name_list))]
# print(C)

Age is 23
Age is 22

In [115]:
#Question3:
a=(('nik',10,200),('bhumi',20,300),('dev',30,400))
x, y, z = a
print('Total salary of nik',x[2])
print('Total salary of bhumi',y[2])
print('Total salary of dev',z[2])
ss=[x[2],y[2],z[2]]
s=sum(ss)//len(ss)
print('Average Salary',s)
print('Highest Salary',max(ss))
for i,j,k in a:
  # Compare the salaries (third element of each tuple)
  if j < k:
    print('highest salary for',i,'is',k) # k already represents the salary

Total salary of nik 200
Total salary of bhumi 300
Total salary of dev 400
Average Salary 300
Highest Salary 400
highest salary for nik is 200
highest salary for bhumi is 300
highest salary for dev is 400

In [ ]:
#Question4: