In [2]:
print('Hello World')

Hello World

In [3]:
print('Conditional Statement')
a=5
if a>5:
  print('It is greater')
else:
  print('It is not greater')

Conditional Statement
It is not greater

In [4]:
print('For Loop')
for i in range(5):
  print(i)
for i in range(2,12,3):
  print(i)

For Loop
0
1
2
3
4
2
5
8
11

In [33]:
print('Keywords')
e=4
while e>3:
  print('Nice')
  e=e-1

def hi(tax):
  return tax*5
hi(4)

a=True
b=a+1
print(b)
c=False
d=1-c
print(d)

aa=None
print(aa)
bb=type(aa)
print(bb)

f=32
if f>20 and f==32:
  print('Section1')
elif f>20 or f==int :
  print('Section2')
else:
  print('Else Part')

import math as m
ad=m.sqrt(64)
print(ad)

a,b,c='john',56,'france'
print(a,end=' ')
print(b,end=' ')
print(c)

Keywords
Nice
2
1
None
<class 'NoneType'>
Section1
8.0
john 56 france

In [49]:
print('DATATYPES IN PYTHON')
a=12
print(float(a))
b='ikjujkn'
print(type(b))
c=[1,2,'qwerty']
print(type(c))
d=(34,6,23)
print(type(d))
e={2,4,5,67,7,}
print(type(e))
f={1:'hi'}
print(type(f))
g=(1+8j)
print(type(g))

DATATYPES IN PYTHON
12.0
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'complex'>

In [55]:
a=bool(100)
print(a)

True

In [59]:
print('Operation In Python')
a='hsjmnsuj'
b="fejkvfe "
c="""
firkm
rfrf
frf"""
d=print(a+b+c)
e=len(a+b+c)
print(e)

Operation In Python
hsjmnsujfejkvfe
firkm
rfrf
frf
31

In [98]:
print('SLicing In    Python')
name='Yatharth is Learning Python'
print(name[5])
print(name[0:7])
print(name[-1])
print(name[-7:-1])
print(name[::-1])
print(name[:-1])
print(name[-1:-14:-2])
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(name.strip())
print(name.find('is'))
print(name.replace('Yatharth','Karan'))
print(name.count('is'))
print(name.startswith('yatharth'))
print(name.endswith('on'))
print(name.isalnum())
print(name.isalpha())
print(name.isdigit())
print(name.split())
print(name.join(a))
print("name{}".format('ok'))

SLicing In    Python
r
Yathart
n
 Pytho
nohtyP gninraeL si htrahtaY
Yatharth is Learning Pytho
nhy nna
YATHARTH IS LEARNING PYTHON
yatharth is learning python
Yatharth is learning python
Yatharth Is Learning Python
Yatharth is Learning Python
9
Karan is Learning Python
1
False
True
False
False
False
['Yatharth', 'is', 'Learning', 'Python']
hYatharth is Learning PythonsYatharth is Learning PythonjYatharth is Learning PythonmYatharth is Learning PythonnYatharth is Learning PythonsYatharth is Learning PythonuYatharth is Learning Pythonj
nameok

In [101]:
print('OPERATORS IN PYTHON')
a='hike'
b='ih'
c=a in b
print(c)
d=a not in b
print(d)

OPERATORS IN PYTHON
False
True

In [108]:
print('More Operators in Python')
a=12
print(a//2)
print(a/2)
print(a%5)
print(a*5)
print(a+45)
print(a-54)

More Operators in Python
6
6.0
2
60
57
-42

In [110]:
print('New Line')
ss='jh kn \n sijm wk \n wnxkm'
print(ss)

New Line
jh kn
 sijm wk
 wnxkm

In [112]:
print('Tab')
rr='djvnk k \t jdknkn  \t'
print(rr)
gg='ilmec \\ckec'
print(gg)

Tab
djvnk k 	 jdknkn
ilmec \ckec

In [116]:
print('Jump Statement')
for i in range(4):
  if i>2:
    pass
  elif i<2:
    i=i+1
    print(i)
  else:
    break
    print('No output')

Jump Statement
1
2

In [130]:
print('ASCII VALUE')
a='a'
#A='A'
b=print(ord(a))
print(b)
print(ord('A'))
print(ord('z'))

ASCII VALUE
97
None
65
122